{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript",
    "@babel/preset-stage-0",
    [
      "@babel/env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "targets": {
          "browsers": "last 2 Chrome versions"
        }
      }
    ]
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "lodash", {
        "id": [
          "lodash",
          "recompose",
          "ramda"
        ]
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-react",
        "@babel/preset-typescript",
        [
          "@babel/env"
        ]
      ]
    }
  }
}
